.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 40px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 5px;

}
    /* &--light {
        background: #BFC4CA;
        border: none;
        color: #040404;


        &:hover {
            background-color: #f4f4f4;
        }
    }

    &--dark {
        background: #fa891f;
        color: #040404;


        &:hover {
            background-color: #bb5113;
            border: 0px;
        }
    } */
