.footer {
  /*   height: 80px;  
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #BFC4CA;
    font-size: 2.5rem;
    background: #040404;
 */
  
  i:hover {
    color: #fa891f;
  }
}