

 header.header-container {
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;

    nav{
    display: flex;
      justify-content: end;
      height: 50px;
      align-items: center;
      ul   {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 50%;
      }
      li a {
        color: white;
        text-decoration: none;
      }
  }
}  