main {
    padding: 15px;


    section.main-container {
        display: flex;
        align-items: center;
        padding: 50px 0;
        flex-wrap: wrap;


        .main__row-text {
            width: 50%;
            padding-right: 40px;
            padding-top: 80px;

            a {
                margin-top: 30px;
                text-decoration: none;
            }

            .text-h1 {
                font-size: 3rem;
                font-weight: 600;
            }
        }

        .main__row-form {
            width: 40%;
            margin-left: 90px;

            .form-logo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: white;
                font-size: 5rem;
                padding: 30px;
                background-image: linear-gradient(to right, #bb5113, #e2871f);
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;

                p {
                    font-size: 5rem;
                    font-weight: 600;
                }
            }

            form {
                background: #FFF;
                padding: 50px 50px 70px 50px;
                border-bottom-right-radius: 50px;
                border-bottom-left-radius: 50px;

                a {
                    width: 100%;
                    text-align: center;
                }

                button {
                    width: 100%;
                }

                label {
                    display: inline-block;
                    margin-bottom: 6px;
                    color: #4D4D4D;
                }

                .form-group {
                    margin-bottom: 16px;
                }

                .form-control {
                    width: 100%;
                    padding: 10px 12px;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #4D4D4D;
                    border-radius: 20px;
                }
            }

        }
    }

    section.main__row-info {
        padding: 50px 20px;
        background: #ff5c08fc;
        color: #050505;

        .text-h2 {
            font-size: 2.8rem;
            font-weight: 200;
            padding-bottom: 40px;
        }

        .info__row {
            display: flex;
            padding-bottom: 40px;
            padding-top: 20px;

            .info__row-content {
                padding-right: 40px;

                .text-h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                .text-p {
                    font-size: 1.05rem;
                    font-weight: 700;
                }
            }

         //   img {
          //      width: 70px;
         //       height: 70px;
         //       object-fit: cover;
         //       clip-path: circle(50% at 50% 50%);
         //   }
        }
    }
}

h1 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}