@media (max-width: 767px) {

    ul {
        width: 100%;
    }


    main {
        section.main-container {
            .main__row-text {
                width: 100%;
                padding-right: 40px;
                padding-top: 80px;
                margin-bottom: 36px;

                .text-h1 {
                    font-size: 2.75rem;
                }

                .btn {
                    padding: 6px 10px;
                }
            }

            .main__row-form {
                width: 80%;
                margin-left: 90px;
                margin: auto;
            }
        }

        section.main__row-info {
            .container {
                .info__row {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    main {
        section.main__row-info {
            .container {
                .info__row {
                    .info__row-content {
                        width: 69%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}